<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
    var urlParams = new URLSearchParams(window.location.search);
    var authCode = urlParams.get('code'),
        state = urlParams.get('state'),
        error = urlParams.get('error'),
        errorDescription = urlParams.get('error_description');

    if (error) {
        window.alert("Error: " + error + ", Description: " + errorDescription);
    } else {
        // console.log("auth code: " + authCode);
        window.opener.requestTokens(state, authCode);
    }

    window.close();
</script>

</body>
</html>